* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --sizeSmallB-: 2rem;
  --sizeMediumB-: 6rem;
  --sizeBigB-: 10rem;
  --smallSize-: 15rem;
  --mediumSize-: 25rem;
  --medium32-: 32rem;
  --medium33: 33.7rem;
  --bigSize-: 40rem;
  --hugeSize-: 70rem;
  --enorme-: 120rem;

  --firstSizebg-: 83.6rem;
  --bg-url-: url(./assets/astronaut-mobile.png);
  --bg-contact-: url(./assets/bg-contact.jpg);
  --bg-inputName-: url(./assets/person.svg);
  --bg-inputEmail-: url(./assets/at.svg);
}

body {
  display: grid;
  justify-content: center;
  /*so retirar o justify-content*/
}

.container {
  width: var(--bigSize-);
  height: var(--hugeSize);
  .rightContentTop {
    height: 38rem;
    background: #f9f4fb var(--bg-url-) no-repeat right;
    background-position: right;
  }
  .leftContentTop {
    > h1 {
      font-size: var(--sizeMediumB-);
      color: #b52184;
    }

    > h3 {
      font-size: 25px;
    }
    > h1,
    h3 {
      text-align: center;
    }
  }
}
.setaBaixo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--sizeSmallB-);
  margin-bottom: var(--sizeSmallB-);
}

/*middle content*/

.middleContent {
  padding: var(--sizeMediumB-) var(--sizeSmallB-);
  width: var(--bigSize-);
  height: var(--enorme-);

  background: #312d64;

  > .firstGrid,
  .secondGrid,
  .thirdGrid {
    border-radius: var(--sizeSmallB-);
    border: black solid 2px;

    width: var(--medium32-);
    height: var(--medium33);

    margin: auto;
    margin-bottom: var(--sizeMediumB-);

    padding: var(--sizeSmallB-);

    background: #ffffff;
    > h1 {
      margin-top: var(--sizeSmallB-);
      color: #b52184;
      font-size: 3.2rem;
    }

    > p {
      margin-top: var(--sizeSmallB-);
      font-size: 1.6rem;
    }

    > img {
      display: block;
      width: 8.1rem;
      height: 8.1rem;
    }
  }
}

.contactUs {
  width: var(--bigSize-);
  height: var(--hugeSize);
  font-size: 1.6rem;

  background: #f9f4fb;

  > .inputName {
    background: #fff var(--bg-inputName-) no-repeat left;
  }
  > .inputEmail {
    background: #fff var(--bg-inputEmail-) no-repeat left;
  }

  > h1 {
    padding: var(--sizeSmallB-) var(--sizeSmallB-) var(--sizeSmallB-)
      var(--sizeMediumB-);

    color: #b52184;
    font-family: Mulish, sans-serif;
  }
  > input {
    display: block;
    margin: auto;
    width: var(--mediumSize-);
    height: 4rem;

    border-radius: 1rem;
    border: black solid 2px;

    margin-bottom: 2rem;
    text-align: center;
  }

  > textarea {
    display: block;
    margin: auto;
    width: var(--mediumSize-);
    height: 10rem;

    border-radius: 1rem;
    border: black solid 2px;

    margin-bottom: 2rem;

    text-align: center;
    font-family: Mulish, sans-serif;
  }

  > button {
    display: block;

    width: var(--smallSize-);
    height: 4rem;

    margin: auto;

    text-align: center;
    color: white;

    border-radius: 1rem;

    background: #302c63;
  }

  > footer {
    width: 100%;

    text-align: center;
    color: white;

    margin-top: 6rem;
    padding: 1rem;

    background: #302c63;
  }
}

@media (min-width: 650px) {
  :root {
    --bigSize-: 100%;
    --bg-url-: url(./assets/astronaut.desk.png);
  }
  .light {
    --bg-url-: url(./assets/astronaut-desk.png);
  }

  body {
    justify-content: initial;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    height: var(--firstSizebg-);
    background: #f9f4fb;
    .rightContentTop {
      height: 100%;
      background: #f9f4fb var(--bg-url-) no-repeat top right;
      margin-right: 5rem;
    }

    .rightContentTop,
    .leftContentTop {
      width: 50%;
    }
    .leftContentTop {
      display: flex;
      flex-direction: column;

      background: #f9f4fb;

      height: 100%;

      > h1 {
        margin: auto auto 0 auto;
        font-size: 6rem;
      }
      > h3 {
        margin: 0 auto auto auto;
        font-size: 3.2rem;
      }

      > img {
        margin-left: 5%;
        margin-bottom: 5%;
      }
    }
  }

  .middleContent {
    display: flex;
    height: 100%;
    > .firstGrid,
    .secondGrid,
    .thirdGrid {
      width: 36.6rem;
      height: 43.8rem;
      padding: 3rem;
      margin: 6rem;
      > h1 {
        font-size: 4rem;
        text-align: center;
      }
      > p {
        font-size: 2rem;
      }
      > img {
        margin: auto;
        width: 8.1rem;
        height: 8.1rem;
      }
    }
    .firstGrid {
      margin-left: auto;
    }
    .thirdGrid {
      margin-right: auto;
    }
  }

  .contactUs {
    background: #ffffff var(--bg-contact-) no-repeat right;

    > h1 {
      font-size: 4.2rem;
      padding-left: 0;
    }
    > h1,
    input,
    textarea,
    button {
      margin-left: 11rem;
    }
    > input,
    textarea {
      width: 60rem;
    }
    > .inputName {
      background: #fff var(--bg-inputName-) no-repeat left;
    }
    > .inputEmail {
      background: #fff var(--bg-inputEmail-) no-repeat left;
    }
  }
}
